pkgbase = evelopment-games-designer-bin
	pkgdesc = All-in-one game design tool: writing, wiki, maps, boards, lists and calculators
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/Evelynnsrepos/Evelopment-Games-Designer
	arch = x86_64
	license = GPL-3.0-only
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = hicolor-icon-theme
	provides = evelopment-games-designer
	conflicts = evelopment-games-designer
	noextract = evelopment-games-designer-0.9.0.deb
	source = evelopment-games-designer-0.9.0.deb::https://github.com/Evelynnsrepos/Evelopment-Games-Designer/releases/download/v0.9.0/Evelopment.Games.Designer_0.9.0_amd64.deb
	source = LICENSE-0.9.0::https://raw.githubusercontent.com/Evelynnsrepos/Evelopment-Games-Designer/v0.9.0/LICENSE
	sha256sums = a6fe8a07076f785cd3702f897c5a9c45fbbbdf8d27b8241098a82caee80e873c
	sha256sums = 3972dc9744f6499f0f9b2dbf76696f2ae7ad8af9b23dde66d6af86c9dfb36986

pkgname = evelopment-games-designer-bin
